.gameDiv {
    display: flex;
    height: 99px;
    width: 99px;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
    width: 320px;
}

.allContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.buttons {
    display: flex;
    justify-content: center;
}

#results {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.names {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 10px;
}

#namen {
    height: 21px;
    
}